@using Microsoft.Owin.Security.OAuth

@{
    ViewBag.Title = "AllCategories";
}

<h2>Kategorije</h2>
<div class="jumbotron" style="padding-top: 0%">
    <a href="@Url.Action("SubCategories", "Category",new { id = 1})">
        <h2>Avdio-video</h2>
        <img src="~/Content/images/audio-video-rentals.png" height="250px" width="80%"/>
    </a>
</div>
<div class="jumbotron" style="padding-top: 0%">
    <a href="@Url.Action("CategoryItems", "Category",new { category = "Auto-moto"})">
        <h2>Avto-moto</h2>
        <img src="~/Content/images/CLASS_SPORTS-CARS_PNG.png" height="250px" width="50%"/>
    </a>
</div>
<div class="jumbotron" style="padding-top: 0%">
    <a href="@Url.Action("SubCategories", "Category",new { id = 2})">
        <h2>Računalništvo</h2>
        <img src="~/Content/images/technologyobjects.png" height="250px" width="80%"/>
    </a>
</div>
<div class="jumbotron" style="padding-top: 0%">
    <a href="@Url.Action("CategoryItems", "Category",new { category = "Oblačila"})">
        <h2>Oblačila</h2>
        <img src="~/Content/images/clothesline-silhouette.png" height="250px" width="80%" />
    </a>
</div>
<div class="jumbotron" style="padding-top: 0%">
    <a href="@Url.Action("CategoryItems", "Category",new { category = "Dom"})">
        <h2>Dom</h2>
        <img src="~/Content/images/Home.png" height="250px" width="40%"/>
    </a>
</div>
<div class="jumbotron" style="padding-top: 0%">
    <a href="@Url.Action("CategoryItems", "Category",new { category = "Šport"})">
        <h2>Šport</h2>
        <img src="~/Content/images/sport.png" height="250px" width="60%"/>
    </a>
</div>
<div class="jumbotron" style="padding-top: 0%">
    <a href="@Url.Action("SubCategories", "Category",new { id = 3})">
        <h2>Telefonija</h2>
        <img src="~/Content/images/smartphones-png.png" height="250px" width="55%"/>
    </a>
</div>
