@using SpletnaDrazba.Models

@{
    ViewBag.Title = "CategoryItems";
}

<h2>Predmeti kategorije</h2>

@{ List<Drazba> drazbe = (List<Drazba>)ViewData["Drazbe"];}

<table class="table">
    <tr>
        <th>
            Datum in ura začetka
        </th>
        <th>
            Datum in ura konca
        </th>
        <th>
            Ime Dražbe
        </th>
        <th>
            Naziv Predmeta
        </th>
        
        <th>
            Opis
        </th>
        <th>
            Začetna cena
        </th>
        <th>
           Kategorija
        </th>
        <th></th>
    </tr>

    @foreach (var item in drazbe)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatumOd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NazivPredmeta)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZacetnaCena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kategorija)
            </td>
            <td>
                
                @Html.ActionLink("Details", "Details","Drazba", new { id = item.Id },null)  
            </td>
        </tr>
    }

</table>

