@model SpletnaDrazba.Models.Ponudba

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ponudba</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Znesek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Znesek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumOddaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumOddaje)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
