@model IEnumerable<SpletnaDrazba.Models.Ponudba>

@{
    ViewBag.Title = "Index";
}

<h2>Zgodovina ponudb</h2>



<table class="table-condensed table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Znesek) (€)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumOddaje)
        </th>
        <th>
           Ime
        </th>
        <th>
            Priimek
        </th>
    </tr>

@foreach (var item in Model)
{
 //   id = item.Drazba.Id;
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Znesek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumOddaje)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
     
    </tr>
}
    
</table>
