@using SpletnaDrazba.Models
@model IEnumerable<SpletnaDrazba.Models.Drazba>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DatumOd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazivPredmeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uporabnik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZacetnaCena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kategorija)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DatumOd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumDo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazivPredmeta)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZacetnaCena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kategorija)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
